html {
    background-image: linear-gradient(0deg, rgba(209, 204, 204, 0.33),rgba(98, 95, 95, 0.33), rgb(59, 58, 58));
}

#imgGeneral {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center {
    text-align: center;
}

.menu {
    color: aliceblue;
}